<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BarBot - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/bootstrap.min.css')}}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/dashboard.css')}}">

    <!-- Style for this page only -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/signin.css')}}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BarBot LLC</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/{{data[2]}}">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id='current'>
        <h1>Current Settings</h1>

        <h3>Email</h3>
        <p class="text-primary">{{data[1]}}</p>

        <h3>Phone</h3>
        <p class="text-primary">{{data[3]}}</p>

        <h3>Height</h3>
        <p class="text-primary">{{data[7]}}</p>

        <h3>Weight</h3>
        <p class="text-primary">{{data[8]}}</p>

        <h3>Age</h3>
        <p class="text-primary">{{data[9]}}</p>

        <h3>Gender</h3>
        <p class="text-primary">{{data[10]}}</p>

      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id='change'>
        <h1>Change Settings Here</h1>
        <p>All fields must be filled, even if information doesn't change.</p>
        <form action="/user/{{data[2]}}/settings/confirmation" method="post" class="">
          <h2>Please Enter Username to Continue</h2>
          <label for="username" class="sr-only">Username</label>
          <input type="username" name="username" class="form-control" placeholder="Username" autofocus required>
          <br>
          <br>

          <h3>Email</h3>
          <label for="email" class="sr-only">Email</label>
          <input type="email" name="email" class="form-control" placeholder="Email" required>

          <h3>Phone Number</h3>
          <label for="phone" class="sr-only">Phone</label>
          <input type="phone" name="phone" class="form-control" placeholder="Phone Number" required>


          <h3>Height (inch)</h3>
          <label for="height" class="sr-only">Height</label>
          <input type="height" name="height" class="form-control" placeholder="Height" required>

          <h3>Weight (lbs)</h3>
          <label for="weight" class="sr-only">Weight</label>
          <input type="weight" name="weight" class="form-control" placeholder="Weight" required>

          <h3>Age</h3>
          <label for="age" class="sr-only">Age</label>
          <input type="age" name="age" class="form-control" placeholder="Age" required>

          <br>
          <h3>Gender Identification</h3>
          <div class="form-check" data-toggle="buttons-radio" name="gender" required>
            <label class="btn btn">
              <input type="radio" value="male" autocomplete="off" name='gender'> Male
            </label>
            <label class="btn btn">
              <input type="radio" value="female" autocomplete="off" name='gender'> Female
            </label>
            <label class="btn btn">
              <input type="radio" value="undisclosed" autocomplete="off" name='gender'> Prefer not to disclose
            </label>
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>

      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
