<html>
<form action='/drinkresults' method='post'>
<select name ="mixer">
    <option value="" disabled="disabled"  style="display:none" selected="selected">Please select a Mixer</option>
    <option value="Orange Soda">Orange Soda</option>
    <option value="Ginger Ale">Ginger Ale</option>
    <option value="Coke">Coke</option>
    <option value="Sprite">Sprite</option>
    <option value="Tonic">Tonic</option>
</select>
<select name ="alcohol">
    <option value="" disabled="disabled"  style="display:none" selected="selected">Please select an Alcohol</option>
    <option value="Vodka">Vodka</option>
    <option value="Tequila">Tequila</option>
    <option value="Rum">Rum</option>
    <option value="Whiskey">Whiskey</option>
</select>
<input class="btn btn-default" type="submit" value="Submit">
</form>
</html>
