<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>MultiLinePlot.js</title>

   <!-- import plugin script -->
   <script src='static/Chart.min.js'></script>

</head>
<body>

<!-- bar chart canvas element -->
<canvas id="chart" width="600" height="400"></canvas>

<script>

   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : []
   }

    var lines = {{lines}};
    var elements = {{elements}};
    var setLength = elements/lines;
    var values = [{% for item in values %}
                      {{item}},
                     {% endfor %}];

    for (line = 0; line < lines; line++) {
        start = line*setLength;
        end = (line+1)*setLength;
        y = values.slice(start, end);
        barData.datasets.push({});
        dataset = barData.datasets[line];
        dataset.fillColor = "rgba(0,0,0,0)";
        dataset.strokeColor = "rgba(200,200,200,1)";
        dataset.data = y;
    }

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,

   });

</script>

</body>
</html>
