<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BarBot - New User Account</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/bootstrap.min.css')}}">

    <!-- Style for this page only -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/signin.css')}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <h1>Welcome to BarBot</h1>

      <form action="/new_user/confirmation" method="post" class="form-signin">

        <h3>Account Information</h3>
        <p>This contains all the information that will be used to identify you as a person. All your information is kept safe on our servers and your passwords are never stored in plain text!</p>
        <br>
        <p>Email</p>
        <label for="email" class="sr-only">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>

        <p>Username</p>
        <label for="username" class="sr-only">Username</label>
        <input type="username" name="username" class="form-control" placeholder="Username" required>

        <p>Phone Number</p>
        <label for="phone" class="sr-only">Phone</label>
        <input type="phone" name="phone" class="form-control" placeholder="Phone Number" required>

        <p>Password</p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>

        <br>
        <h3>Personal Information</h3>
        <p>This contains all the information is used to calculate your blood alcohol content(BAC). The Party Captain cannot see any of your information.</p>
        <br>
        <p>Height (inch)</p>
        <label for="height" class="sr-only">Height</label>
        <input type="height" name="height" class="form-control" placeholder="Height" required>

        <p>Weight (lbs)</p>
        <label for="weight" class="sr-only">Weight</label>
        <input type="weight" name="weight" class="form-control" placeholder="Weight" required>

        <p>Age</p>
        <label for="age" class="sr-only">Age</label>
        <input type="age" name="age" class="form-control" placeholder="Age" required>

        <br>
        <p>Gender Identification</p>
        <div class="form-check" data-toggle="buttons-radio" name="gender">
          <label class="btn btn">
            <input type="radio" value="male" autocomplete="off" name='gender'> Male
          </label>
          <label class="btn btn">
            <input type="radio" value="female" autocomplete="off" name='gender'> Female
          </label>
          <label class="btn btn">
            <input type="radio" value="undisclosed" autocomplete="off" name='gender'> Prefer not to disclose
          </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Bootstrap/js/bootstrap.js"></script>
  </body>
</html>
