<html>
  <head>
    <title>Login:</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <p> Please give me some basic information </p>
  <body>
    <div class="container">
      <br>
      <form action="" method="post">
        <p> Your name: {{username}}</p><br>
        <p> Your age: {{age}} </p><br>
        <p> Youe school: {{school}}
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
