<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BarBot - Incorrect Password</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/bootstrap.min.css')}}">

    <!-- Style for this page only -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/signin.css')}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <h1>Wrong Username or Password</h1>
      <p>Unfortunately the username or password entered was incorrect</p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login Here &raquo;</a>
      <p>If you think this was in error, please contact <a href="#">admin@thebarbot.com</a></p>
    </div>
  </body>
</html>
